# name: CI

# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]

# jobs:
#   lint:
#     name: Lint
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - run: npm install -g pnpm

#       - uses: actions/setup-node@v4
#         with:
#           node-version: 22

#       - name: Install dependencies (ClientApp)
#         working-directory: ./ClientApp
#         run: pnpm install

#       - name: Lint files
#         working-directory: ./ClientApp
#         run: pnpm run lint
